* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: #F8F1F1;
  margin-top: 20px;
}

.task-app {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.task-app-list {
  background-color: #FFF;
  border-radius: 30px;
  box-shadow: 33px 33px 71px #C8C2C2;
  margin: 10px;
  min-height: 500px;
  padding: 25px;
  width: 600px;
}

.task-app-list h1 {
  color: #DB6400;
  font-size: 30px;
  margin: 20px 0;
  text-align: center;
}