* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #F2F2F0;
  margin-top: 20px;
}

.task-app {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.task-app-list {
  width: 600px;
  min-height: 500px;
  border-radius: 30px;
  background-color: #FFF;
  box-shadow: 33px 33px 71px #C5BBA9;
  padding: 25px;
  margin: 10px;
}

.task-app-list h1 {
  font-size: 30px;
  text-align: center;
  margin: 20px 0;
  color: #1B3C59;
}